<h1><%= @seleccion.nombre %></h1>

<p><strong>Grupo:</strong> <%= link_to @seleccion.grupo.nombre, @seleccion.grupo %></p>

<table>
  <caption>Estadísticas</caption>
  <tr><th>Puntos</th><td><%= @seleccion.puntos %></td></tr>
  <tr><th>Jugados</th><td><%= @seleccion.jugados %></td></tr>
  <tr><th>Ganados</th><td><%= @seleccion.ganados %></td></tr>
  <tr><th>Empatados</th><td><%= @seleccion.empatados %></td></tr>
  <tr><th>Perdidos</th><td><%= @seleccion.perdidos %></td></tr>
  <tr><th>Goles a favor</th><td><%= @seleccion.goles_a_favor %></td></tr>
  <tr><th>Goles en contra</th><td><%= @seleccion.goles_en_contra %></td></tr>
  <tr><th>Diferencia de goles</th><td><%= @seleccion.diferencia_goles %></td></tr>
</table>

<%= link_to "Editar", edit_seleccion_path(@seleccion) %> |
<%= link_to "Volver a selecciones", selecciones_path %>
