<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Copa Mundial FIFA 2026" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="barra">
      <%= link_to "Grupos", grupos_path %>
      <%= link_to "Selecciones", selecciones_path %>
      <%= link_to "Partidos", partidos_path %>
      <%= link_to "Cuadro", eliminatoria_path %>
      <%= link_to "Podio", podio_eliminatoria_path %>
    </nav>
    <main>
      <% if notice %><p class="aviso ok"><%= notice %></p><% end %>
      <% if alert %><p class="aviso error"><%= alert %></p><% end %>
      <%= yield %>
    </main>
  </body>
</html>
